@font-face {
    font-family: 'dauphine';
    src: url('../fonts/dauphine_regular-webfont.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/dauphine_regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/dauphine_regular-webfont.woff') format('woff'), /* Modern Browsers */
    url('../fonts/dauphine_regular-webfont.ttf') format('truetype');
    /* Safari, Android, iOS */
    url('../fonts/dauphine_regular-webfont.svg#dauphine_regular-webfont') format('svg'),
    /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

body {
    font-family: 'dauphine';
    background-image: url(background_2.png);
}

.header {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100px;
}

.header p {
    display: inline-block;
    padding-right: 20px;
    line-height: 30px;
    color: #fe6860;
}

.word {
    position: absolute;
    top: 30px;
    display: inline-block;
    width: 400px;
    height: 35px;
    overflow: hidden;
}

ul {
    list-style: none;
    position: absolute;
}

ul li {
    font-size: 24px;
}

.content .box {
    width: 100%;
    height: 800px;
}

.slogan {
    margin-top: 25px;
    font-size: 60px;
}


/* Navigation Settings */

nav {
    bottom: 0;
    width: 100%;
    height: 75px;
}

nav li {
    display: inline-block;
    color: #1c2541;
    margin-top: 20px;
}

section {
    height: 120vh;
}

h4 {
    font-size: 1.6em;
    text-align: left;
    color: #1c2541;
    margin: 0px;
}

p {
    font-size: 1.3em;
    text-align: left;
    color: #1c2541;
}

em {
    font-style: normal;
    color: #fe6860;
}

.icon {
    text-align: right;
    margin-top: 100px;
}

.icon img {
    width: 35px;
}

.description {
    margin-top: 100px;
}

.carte {
    width: 100%;
    margin-top: 150px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: line-through;
    color: #1c2541;
}

footer {
    text-align: center;
    color: #1c2541;
    font-size: 40px;
    background: white;
}


/* scrollbar */

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 8px 8px 10px rgba(254, 104, 96, 1);
}


/* header */

* {
    margin: 0;
    padding: 0;
}

.fixed {
    position: fixed;
    top: 0;
    height: 80px;
    z-index: 1;
    background: rgba(255, 255, 255, 1);
}


/* background-video */

.box1 video {
    position: absolute;
    top: -80px;
    min-width: 50%;
    min-height: 50%;
    width: auto;
    height: auto;
    z-index: -100;
    opacity: 0.35;
}

#polina button {
    font-family: 'dauphine';
    display: block;
    width: 80%;
    padding: .4rem;
    border: none;
    margin: 1rem auto;
    font-size: 1rem;
    background: transparent;
    color: #1c2541;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: .3s background;
    transition: .3s background;
    outline: none;
}

#polina button:hover {
    color: #fe6860;
}

.block4 {
    margin-top: 150px;
}

strong {
    text-align: left;
}

h4 {
    color: #1c2541;
    font-size: 1.4em;
}

.ligne {
    margin-bottom: 30px;
}

hr {
    margin-top: 10px;
    margin-bottom: 15px;
}

mark {
    color: #fe6860;
    background: none;
}