<!DOCTYPE html>
<html>
<head>
    <title>wænd - console</title>
    <link rel="stylesheet" type="text/css" href="/styles/waend.css" />
    <script src="/bin/wc.js"></script>

</head>
<body>
    <div id="page-title">wænd console</div>
    <div id="wc"></div>
</body>
</html>