<!DOCTYPE html>
<html>
<head>
    <title>wænd - console</title>
    <link rel="stylesheet" type="text/css" href="/styles/waend.css" />
    <style type="text/css">
    
/*
    .wc-title{
        position: absolute;
        top: 0;
        right: 12px;
        left:12px;
        height:16px;
        padding: 12px;
        font-weight: bold;
        font-size: 12pt;
        color: #FF00BE;
        background-color: #E5E5E5;
        border-bottom: 2px solid black;
        padding-bottom: 6px;
        margin-bottom: 6px;
    }

    .wc-lines{
        position: absolute;
        top:42px;
        bottom: 24px;
        left:24px;
        right: 24px;
        overflow-y: auto;
    }

    .wc-input{
        border: 0;
        font-weight: bold;
        font-size: 10pt;
        background-color: transparent;
        width: 100%;
    }

    .wc-inactive {
        color:#252525;
    }

    .wc-pending{
        color: #2B71FF;
    }

    .wc-error{
        color: #FF4B3B;
    }

    .wc-command{
        font-style: italic;
        text-decoration: none;
        color: #FF00BE;
    }
    .wc-command:hover, .wc-command:focus{
        border-bottom: 1px solid;
    }
*/

    </style>
    <script src="/bin/wc.js"></script>

</head>
<body>
    <div id="page-title">wænd console</div>
    <div id="wc"></div>
</body>
</html>