<html>
<head>
    <title>wænd - login</title>
    <link rel="stylesheet" type="text/css" href="/styles/waend.css" />  
</head>
<body>
<div class="bkg-img">
    <div class="container logo">
        <img src="/styles/imgs/logo-white.png">
    </div>
     

      <div class="container login">
        <form class="form-horizontal" role="form" action="/login" method="post">
            <div class="list-group">
                <input name="username" 
                     type="email" 
                     class="list-group-item" 
                     id="inputEmail3" 
                     placeholder="<%= email %>" />

                <input name="password" 
                     type="password" 
                     class="list-group-item" 
                     id="inputPassword3" 
                     placeholder="Password" />

                <input type="submit" 
                     class="list-group-item btn-login" 
                     value="Sign in">
            </div>
        </form>
    </div>


    <div class="container text">
        <div class="welcome">Welcome on Wænd!</div>
        <div class="description">
            <p>
              
            </p>
        </div>
    </div>

    <div class="credits">
        Initiated by <a href="http://atelier-cartographique.be">Atelier Cartographique</a>.
    </div>
</div>
</body>
</html>