<!DOCTYPE html>
<html>
<head>
    <title>wænd</title>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css" />
    <script src="/bin/wmap.js"></script>

</head>
<body>
    <!-- <div id="page-title">wænd</div> -->
    <div id="map"></div>
    <div id="wc" class=""></div>
</body>
</html>
