<html>
<head>
    <title>wænd - register</title>
    <link rel="stylesheet" type="text/css" href="/styles/waend.css" />  
</head>
<body id="register">
        <div class="header">
            <span class="logo">wænd<sup>alpha</sup></span>
        </div>

        <div class="text">
            <p style="color: red;">An error occurred, please try again</p>
            <br>
            <p>Create an account if you wish to publish maps on Wænd</p>
            <br>
            <p>You don't have to, but we invite you to use your real e-mail adress, since we might need to contact you from time to time, specialy if there are major changes on the platform.</p>
        </div>


        <div class="form-container">
            <form class="form-horizontal" role="form" action="/register" method="post">
                <div class="list-group">
                    <input name="username" 
                         type="email" 
                         class="list-group-item" 
                         id="inputEmail" 
                         placeholder="email" />

                    <input name="password" 
                         type="password" 
                         class="list-group-item" 
                         id="inputPassword" 
                         placeholder="password" />

                    <input type="submit" 
                         class="list-group-item btn-login" 
                         value="Create account">
                </div>
            </form>
        </div>

        <div class="text">
            <p>Keep in mind that you are registering on an alpha version, wich could be buggy, unclear, and subject to heavy transformations. (eg: there is no automatic password recovery system yet, if you forget it... well, you will have to ask us to re-generate it)</p>
            <br>
            Welcome, we hope you will enjoy it!</p>
            <br>
            <p>We will reply at contact@atelier-cartographique.be</p>
        </div>


    <div class="footer">
        <div>wænd is an initiative of <a href="http://atelier-cartographique.be">Atelier Cartographique</a>.</div>
    </div>
</body>
</html>