<!DOCTYPE html>
<html>
<head>
    <title>wænd</title>
    <link rel="stylesheet" type="text/css" href="/styles/waend.css" />
    <script type="text/javascript">
    window.FRAGMENT_ROOT = '/view/';
    </script>
    <script src="/bin/wview.js"></script>

</head>
<body>
    <div id="map"></div>
    <div id="wc" class=""></div>
</body>
</html>
