

#slider-progress,
#slider-maps {
	text-align: center;
}


strong { 
	font-weight: bold;
}

label, a {
	color: teal;
	cursor: pointer;
	text-decoration: none;
}
label:hover, a:hover {
	color: #000 !important;
}
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
label, #active, img { -moz-user-select:none;-webkit-user-select:none; }
.catch { display: block; height: 0; overflow: hidden; }
#slider-progress, #slider-maps {
	margin: 0 auto;
}
#description {
	margin: 25px auto;
	text-align: left;
	max-width: 650px;
	padding: 0 25px;
}
.respond {
	margin: 0 auto;
	max-width: 370px;
}



/* NEW EXPERIMENT */
/* Slider Setup */
/*<!-- from http://csscience.com/responsiveslidercss3/ -->*/

input {
	display: none;
}

#slide-maps1:checked  ~ #slides-maps .inner { margin-left:0; }
#slide-maps2:checked  ~ #slides-maps .inner { margin-left:-100%; }
#slide-maps3:checked  ~ #slides-maps .inner { margin-left:-200%; }
#slide-maps4:checked  ~ #slides-maps .inner { margin-left:-300%; }
#slide-maps5:checked  ~ #slides-maps .inner { margin-left:-400%; }
#slide-maps6:checked  ~ #slides-maps .inner { margin-left:-500%; }
#slide-maps7:checked  ~ #slides-maps .inner { margin-left:-600%; }


#slide-progress1:checked  ~ #slides-progress .inner { margin-left:0; }
#slide-progress2:checked  ~ #slides-progress .inner { margin-left:-100%; }
#slide-progress3:checked  ~ #slides-progress .inner { margin-left:-200%; }
#slide-progress4:checked  ~ #slides-progress .inner { margin-left:-300%; }
#slide-progress5:checked  ~ #slides-progress .inner { margin-left:-400%; }
#slide-progress6:checked  ~ #slides-progress .inner { margin-left:-500%; }
#slide-progress7:checked  ~ #slides-progress .inner { margin-left:-600%; }
#slide-progress8:checked  ~ #slides-progress .inner { margin-left:-700%; }
#slide-progress9:checked  ~ #slides-progress .inner { margin-left:-800%; }
#slide-progress10:checked ~ #slides-progress .inner { margin-left:-900%; }
#slide-progress11:checked ~ #slides-progress .inner { margin-left:-1000%; }
#slide-progress12:checked ~ #slides-progress .inner { margin-left:-1100%; }
#slide-progress13:checked ~ #slides-progress .inner { margin-left:-1200%; }
#slide-progress14:checked ~ #slides-progress .inner { margin-left:-1300%; }
#slide-progress15:checked ~ #slides-progress .inner { margin-left:-1400%; }
#slide-progress16:checked ~ #slides-progress .inner { margin-left:-1500%; }




#overflow {
	width: 100%;
	overflow: hidden;
}

article img {
	width: 100%;
}

#slides-maps .inner {
	width: 700%;
	line-height: 0;
}

#slides-progress .inner {
	width: 1600%;
	line-height: 0;
}

#slides-maps article {
	width: calc(100% / 7);
	float: left;
}

#slides-progress article {
	width: calc(100% / 16);
	float: left;
}

/* Slider Styling */

/* Control Setup */

#controls {
	margin: -25% 0 0 0;
	width: 100%;
	height: 50px;
}

#controls label { 
	display: none;
	width: 50px;
	height: 50px;
	opacity: 0.3;
}

#active {
	margin: 23% 0 0;
	text-align: center;
}

#active label {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	display: inline-block;
	width: 10px;
	height: 10px;
	background: #bbb;
}

#active label:hover {
	background: #ccc;
	border-color: #777 !important;
}

#controls label:hover {
	opacity: 0.8;
}


#slide-maps1:checked  ~ #controls label:nth-child(2), 
#slide-maps2:checked  ~ #controls label:nth-child(3), 
#slide-maps3:checked  ~ #controls label:nth-child(4), 
#slide-maps4:checked  ~ #controls label:nth-child(5), 
#slide-maps5:checked  ~ #controls label:nth-child(6),
#slide-maps6:checked  ~ #controls label:nth-child(7), 
#slide-maps7:checked ~ #controls label:nth-child(1) {
	background: url('../pictos/next.png') no-repeat;
	float: right;
	margin: 0 -70px 0 0;
	display: block;
}



#slide-progress1:checked  ~ #controls label:nth-child(2), 
#slide-progress2:checked  ~ #controls label:nth-child(3), 
#slide-progress3:checked  ~ #controls label:nth-child(4), 
#slide-progress4:checked  ~ #controls label:nth-child(5), 
#slide-progress5:checked  ~ #controls label:nth-child(6),
#slide-progress6:checked  ~ #controls label:nth-child(7), 
#slide-progress7:checked  ~ #controls label:nth-child(8), 
#slide-progress8:checked  ~ #controls label:nth-child(9), 
#slide-progress9:checked  ~ #controls label:nth-child(10), 
#slide-progress10:checked ~ #controls label:nth-child(11),
#slide-progress11:checked ~ #controls label:nth-child(12), 
#slide-progress12:checked ~ #controls label:nth-child(13), 
#slide-progress13:checked ~ #controls label:nth-child(14), 
#slide-progress14:checked ~ #controls label:nth-child(15), 
#slide-progress15:checked ~ #controls label:nth-child(16), 
#slide-progress16:checked ~ #controls label:nth-child(1) {
	background: url('../pictos/next.png') no-repeat;
	float: right;
	margin: 0 -70px 0 0;
	display: block;
}






#slide-maps1:checked  ~ #controls label:nth-child(7), 
#slide-maps2:checked  ~ #controls label:nth-child(1),
#slide-maps3:checked  ~ #controls label:nth-child(2), 
#slide-maps4:checked  ~ #controls label:nth-child(3), 
#slide-maps5:checked  ~ #controls label:nth-child(4), 
#slide-maps6:checked  ~ #controls label:nth-child(5), 
#slide-maps7:checked  ~ #controls label:nth-child(6) {
	background: url('../pictos/prev.png') no-repeat;
	float: left;
	margin: 0 0 0 -70px;
	display: block;
}


#slide-progress1:checked  ~ #controls label:nth-child(16), 
#slide-progress2:checked  ~ #controls label:nth-child(1),
#slide-progress3:checked  ~ #controls label:nth-child(2), 
#slide-progress4:checked  ~ #controls label:nth-child(3), 
#slide-progress5:checked  ~ #controls label:nth-child(4), 
#slide-progress6:checked  ~ #controls label:nth-child(5), 
#slide-progress7:checked  ~ #controls label:nth-child(6),
#slide-progress8:checked  ~ #controls label:nth-child(7), 
#slide-progress9:checked  ~ #controls label:nth-child(8), 
#slide-progress10:checked ~ #controls label:nth-child(9), 
#slide-progress11:checked ~ #controls label:nth-child(10), 
#slide-progress12:checked ~ #controls label:nth-child(11),
#slide-progress13:checked ~ #controls label:nth-child(12), 
#slide-progress14:checked ~ #controls label:nth-child(13), 
#slide-progress15:checked ~ #controls label:nth-child(14), 
#slide-progress16:checked ~ #controls label:nth-child(15) 
 {
	background: url('../pictos/prev.png') no-repeat;
	float: left;
	margin: 0 0 0 -70px;
	display: block;
}




#slide-maps1:checked  ~ #active label:nth-child(1),
#slide-maps2:checked  ~ #active label:nth-child(2), 
#slide-maps3:checked  ~ #active label:nth-child(3), 
#slide-maps4:checked  ~ #active label:nth-child(4), 
#slide-maps5:checked  ~ #active label:nth-child(5), 
#slide-maps6:checked  ~ #active label:nth-child(6),
#slide-maps7:checked  ~ #active label:nth-child(7) {
	background: #333;
	border-color: #333 !important;
}
 
#slide-progress1:checked  ~ #active label:nth-child(1),
#slide-progress2:checked  ~ #active label:nth-child(2), 
#slide-progress3:checked  ~ #active label:nth-child(3), 
#slide-progress4:checked  ~ #active label:nth-child(4), 
#slide-progress5:checked  ~ #active label:nth-child(5), 
#slide-progress6:checked  ~ #active label:nth-child(6),
#slide-progress7:checked  ~ #active label:nth-child(7), 
#slide-progress8:checked  ~ #active label:nth-child(8), 
#slide-progress9:checked  ~ #active label:nth-child(9), 
#slide-progress10:checked ~ #active label:nth-child(10), 
#slide-progress11:checked ~ #active label:nth-child(11),
#slide-progress12:checked ~ #active label:nth-child(12), 
#slide-progress13:checked ~ #active label:nth-child(13), 
#slide-progress14:checked ~ #active label:nth-child(14),
#slide-progress15:checked ~ #active label:nth-child(15),
#slide-progress16:checked ~ #active label:nth-child(16) {
	background: #333;
	border-color: #333 !important;
}

/* Info Box */

.info {
	line-height: 20px;
	margin: 0 0 -150%;
	position: absolute;
	font-style: italic;
	padding: 30px 30px;
	opacity: 0;
	color: #000;
	text-align: left;
}

.info h3 {
	color: #333;
	margin: 0 0 5px;
	font-weight: normal;
	font-size: 22px;
	font-style: normal;
}

/* Slider Styling */

#slides-maps,
#slides-progress {
	margin: 45px 0 0;
	/*-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 1px 1px 4px #666;
	padding: 1%;
	background: #fff;
	background: rgb(252,255,244); /* Old browsers */
	/*background: -moz-linear-gradient(top,  rgba(252,255,244,1) 0%, rgba(219,218,201,1) 100%); /* FF3.6+ */
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,255,244,1)), color-stop(100%,rgba(219,218,201,1))); /* Chrome,Safari4+ */*/
	/*background: -webkit-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(219,218,201,1) 100%); /* Chrome10+,Safari5.1+ */*/
	/*background: -o-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(219,218,201,1) 100%); /* Opera 11.10+ */*/
	/*background: -ms-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(219,218,201,1) 100%); /* IE10+ */*/
	/*background: linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(219,218,201,1) 100%); /* W3C */*/
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#dbdac9',GradientType=0 ); /* IE6-9 */*/*/*/
}


/* Animation */
#slides-maps .inner,
#slides-progress .inner {
	-webkit-transform: translateZ(0);
	-webkit-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
	-moz-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
    -ms-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
     -o-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
        transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */

	-webkit-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
	-moz-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
    -ms-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
     -o-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
        transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */
}

#slider-maps,
#slider-progress {
	-webkit-transform: translateZ(0);
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

#controls label{
	-webkit-transform: translateZ(0);
	-webkit-transition: opacity 0.2s ease-out;
	-moz-transition: opacity 0.2s ease-out;
	-o-transition: opacity 0.2s ease-out;
	transition: opacity 0.2s ease-out;
}


#slide-maps1:checked ~  #slides-maps article:nth-child(1) .info,
#slide-maps2:checked ~  #slides-maps article:nth-child(2) .info,
#slide-maps3:checked ~  #slides-maps article:nth-child(3) .info,
#slide-maps4:checked ~  #slides-maps article:nth-child(4) .info,
#slide-maps5:checked ~  #slides-maps article:nth-child(5) .info,
#slide-maps6:checked ~  #slides-maps article:nth-child(6) .info,
#slide-maps7:checked ~  #slides-maps article:nth-child(7) .info{
	opacity: 1;
	-webkit-transition: all 1s ease-out 0.6s;
	-moz-transition: all 1s ease-out 0.6s;
	-o-transition: all 1s ease-out 0.6s;
	transition: all 1s ease-out 0.6s;
}


#slide-progress1:checked ~  #slides-progress article:nth-child(1) .info,
#slide-progress2:checked ~  #slides-progress article:nth-child(2) .info,
#slide-progress3:checked ~  #slides-progress article:nth-child(3) .info,
#slide-progress4:checked ~  #slides-progress article:nth-child(4) .info,
#slide-progress5:checked ~  #slides-progress article:nth-child(5) .info,
#slide-progress6:checked ~  #slides-progress article:nth-child(6) .info,
#slide-progress7:checked ~  #slides-progress article:nth-child(7) .info,
#slide-progress8:checked ~  #slides-progress article:nth-child(8) .info,
#slide-progress9:checked ~  #slides-progress article:nth-child(9) .info,
#slide-progress10:checked ~ #slides-progress article:nth-child(10) .info,
#slide-progress11:checked ~ #slides-progress article:nth-child(11) .info,
#slide-progress12:checked ~ #slides-progress article:nth-child(12) .info,
#slide-progress13:checked ~ #slides-progress article:nth-child(13) .info,
#slide-progress14:checked ~ #slides-progress article:nth-child(14) .info,
#slide-progress15:checked ~ #slides-progress article:nth-child(15) .info,
#slide-progress16:checked ~ #slides-progress article:nth-child(16) .info {
	opacity: 1;
	-webkit-transition: all 1s ease-out 0.6s;
	-moz-transition: all 1s ease-out 0.6s;
	-o-transition: all 1s ease-out 0.6s;
	transition: all 1s ease-out 0.6s;
}

.info, #controls, #slides-maps, #slides-progress, #active, #active label, .info h3, .desktop, .tablet, .mobile {
	-webkit-transform: translateZ(0);
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}



/* Responsive Styling */

/* Tablet */


@media only screen and (max-width: 850px) and (min-width: 450px) {

	#slider-maps #controls,
	#slider-progress #controls {
		margin: -25% 0 0 15%;
		width: 70%;
		height: 50px;
	}

	#slider-maps #controls label,
	#slider-progress #controls label  {
		-moz-transform: scale(0.8);
		-webkit-transform: scale(0.8);
		-o-transform: scale(0.8);
		-ms-transform: scale(0.8);
		transform: scale(0.8);
	}

	#slider-maps #slides-maps,
	#slider-progress #slides-progress  {
		padding: 1% 0;
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		border-radius: 0px;
	}

	#slider-maps #active,
	#slider-progress #active {
		margin: 22% 0 0;
	}

}

/* Mobile */


@media only screen and (max-width: 450px) {

	#slider-maps #controls,
	#slider-progress #controls {
		margin: -28% 0 0 24%;
		width: 50%;
		height: 50px;
	}

	#slider-maps #active,
	#slider-progress #active  {
		margin: 23% 0 0;
	}

	#slider-maps #slides-maps,
	#slider-progress #slides-progress {
		padding: 1% 0;
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		border-radius: 0px;
	}

	#slider-maps #slides-maps .info,
	#slider-progress #slides-progress .info {
		opacity: 0 !important;
	}

	#slider-maps #controls label,
	#slider-progress #controls label {
		-moz-transform: scale(0.6);
		-webkit-transform: scale(0.6);
		-o-transform: scale(0.6);
		-ms-transform: scale(0.6);
		transform: scale(0.6);
	}

}


@media only screen and (min-width: 850px) {

	body {
		padding: 0 80px;
	}
}