
.wc-buttons {
    position: absolute;
    font-size: 125%;
    bottom: 48px;
    right: 12px;
    text-align: right;
    z-index: 123;
}

.wc-buttons-group {
    font-weight: bold;
    margin-top: 6px; 
}


.wc-buttons-group.wc-active {
    opacity: 1;
}

.wc-buttons-group.wc-inactive {
    opacity: .1;
}

.wc-button {
    cursor: pointer;
    font-weight: normal;
    border-bottom: 1px solid transparent;
}

.wc-button:hover {
    border-bottom: 1px solid blue;
}
