.wc-title{
    position: absolute;
    top: 12px;
    left: 12px;
    font-size: 12pt;
    text-shadow: 0 0 6px #fff;

    a:link{
        display: inline-block;
        font-size: 100%;
        text-decoration: none !important;
        margin-right: 3px;
        height: 20px;
        line-height: 20px;
        .white-text-shadow;
    }

    a:last-child{
        font-size: 125%;
    }

    a:hover{
        border-bottom: 1px solid blue;
    }

    .wc-context-feature:after { content:"feature";}
    .wc-context-layer:after   { content:"layer";}
    .wc-context-group:after   { content:"group";}
    .wc-context-user:after    { content:"user"; }
    .wc-context-shell:after   { content:"wænd"; }

    .wc-context-feature:after,
    .wc-context-layer:after,
    .wc-context-group:after,
    .wc-context-user:after,
    .wc-context-shell:after   { 
        position: relative;
        display: block;
        font-size: 8pt;
        font-family: monospace;
        width: 40px;
        left: calc(~"50% - 20px");
        text-align: center;
        top: -3px;
    }

}