
.wc-buttons {
    position: absolute;
    bottom: 55px;
    right: 12px;
    text-align: right;
    z-index: 123;
    letter-spacing: 1px;
    .white-text-shadow;
}

.wc-buttons-group {
    margin-top: 6px; 
    font-family: "sansguiltmb";
    font-size: 9pt;
    width: auto;

    &.wc-current .wc-button{
        font-size: 15pt;
        transition-property: font-size;
        transition-duration: 0.5s;
    }

    &.wc-active .wc-button{
        font-size: 12pt;
        transition-property: font-size;
        transition-duration: 0.5s;
    }

    &.wc-inactive {
        display: none;
        font-size: 0pt;
        transition-property: font-size;
        transition-duration: 0.5s;
    }
}

.wc-button {
    cursor: pointer;
    border-bottom: 1px solid transparent;
    font-family: "dauphine_regular";


    &:first-child{
        padding-top: 3px;
    }
}

.wc-button:hover {
    border-bottom: 1px solid blue;
}
