
.wc-buttons {
    position: absolute;
    bottom: 48px;
    right: 12px;
    text-align: right;
    z-index: 123;
    letter-spacing: 1px;
    .white-text-shadow;
}

.wc-buttons-group {
    margin-top: 6px; 
    color: #333;


    &.wc-current {
        font-size: 125%;
        margin-right: 0px;
        transition-property: font-size, margin-right;
        transition-duration: 0.5s;
    }

    &.wc-active .wc-button{
        font-size: 100%;
        margin-right: 0px;
        transition-property: font-size, margin-right;
        transition-duration: 0.5s;
    }

    &.wc-inactive {
        font-size: 100%;
        margin-right: -100px;
        transition-property: font-size, margin-right;
        transition-duration: 0.5s;
    }
}

.wc-button {
    cursor: pointer;
    border-bottom: 1px solid transparent;
}

.wc-button:hover {
    border-bottom: 1px solid blue;
}

.wc-button-group-feature .wc-button { color: @colorFeature;}
.wc-button-group-layer .wc-button   { color: @colorLayer;}
.wc-button-group-group .wc-button   { color: @colorGroup;}
.wc-button-group-user .wc-button    { color: @colorUser;}
.wc-button-group-waend .wc-button   { color: @colorWaend;}