
.wc-buttons {
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 0;
    letter-spacing: 1px;
    padding: 12px;
    background-color: #fff;
    width: calc(~"100vw - 100vh - 24px");
    min-width: 250px;
    height: 100vh;
    text-shadow: none;
    // .white-text-shadow;
}

.wc-buttons-group-title-wrapper {
    .wc-buttons-group-title-label {
        .label;
    }
    .wc-buttons-group-title-value a,
    .wc-buttons-group-title-value a:link,
    .wc-buttons-group-title-value a:visited,
    .wc-buttons-group-title-value a:hover{
        font-size: 12pt;
        text-decoration: underline;
        margin-left: 6px;
        color: #000;
        font-family: "dauphine_regular";
        font-style: normal;
    }
}

.wc-active{
    margin-bottom: 5px;
}

.wc-current {
    padding-left: 6px;
    border-left: 1px dotted #000;
}


.wc-buttons-group {

    // DISABLED ≠ SIZE FOR ACTIVE & ANIMATION
    // &.wc-current .wc-button{
    //     font-size: 12pt;
    //     transition-property: font-size;
    //     transition-duration: 0.5s;
    // }

    // &.wc-active .wc-button{
    //     font-size: 10pt;
    //     transition-property: font-size;
    //     transition-duration: 0.5s;
    // }

    &.wc-inactive {
        display: none;
        font-size: 0pt;
        transition-property: font-size;
        transition-duration: 0.5s;
    }
}

.wc-button {
    cursor: pointer;
    border-bottom: 1px solid transparent;
    font-family: "dauphine_regular";
    font-size: 10pt;
    padding-left: 6px;
    display: table;

    &:first-child{
        padding-top: 3px;
    }
}

.wc-button:hover {
    .link-hover;
}
