.CodeMirror {
    .graticule;
    // background: rgba(0,0,0,0.5);
     position: absolute;
     display: block;
     overflow: hidden;
     height: 100%;
     width: 100%;

    .CodeMirror-scroll {
      width: 50%;
      min-width: 500px;
      max-width: 800px;
      background: @lightgrey ;
      height: calc(~"100vh - 160px");
      margin: auto;
      margin-top: 61px;
      border: 24px solid @lightgrey;
    }

    // .CodeMirror-sizer {
    //   background: #f8f8f8;
    //   border: 0px;
    //   padding: 24px!important;
    //   top: 55px;
    //   width: 50vw;
    //   min-width: 500px;
    //   margin: auto !important;
    //   height: calc(~"100vh - 110px")!important;
    //   min-height: calc(~"100vh - 110px")!important;
    //   overflow-y: auto;
    // }

    .CodeMirror-code {
      text-shadow: none;
    }
}