.edit-buttons {
    position: absolute;
    top: 100px;
    right: 102px;
    width: auto;
    text-align: center;

    .edit-save {
        // position: absolute;
        // top: 91px;
        // left: calc(~"50% - 300px - 60px");
        color: #f8f8f8;
        font-family: 'osp-dindin';
        font-size: 200%;
        cursor: pointer;
        text-shadow: none;
        border-bottom: 1px solid blue;
    }
    .edit-cancel {
        // position: absolute;
        // top: 124px;
        // left: calc(~"50% - 300px - 60px");
        color: #f8f8f8;
        font-family: 'osp-dindin';
        font-size: 200%;
        cursor: pointer;
        text-shadow: none;
        border-bottom: 1px solid red;
    }
}
