body{
    background-color: @xlightgrey;
    letter-spacing: 1px;
    font-size: @font-size;
    font-family: "dauphine_regular";
    // .white-text-shadow;
}

#page-title{
    display:none;
}

#map{
    .absolute-fullscreen;
    left:@widthMenuLeft + 2 * @margin;
    background-color: transparent;
    &.wc-fullscreen {
        .absolute-fullscreen;
    }
}

#wc{
    .absolute-fullscreen;
    background-color: transparent;
    cursor: move; //trick for having a proper cursor on map, default is "move", then it is re-defined for each zone
}

.wc-context-feature { color: @colorFeature !important;}
.wc-context-layer   { color: @colorLayer   !important;}
.wc-context-group   { color: @colorGroup   !important;}
.wc-context-user    { color: @colorUser    !important;}
.wc-context-shell   { color: @colorWaend   !important;}
