body{
    background-color: #E5E5E5;
    text-shadow: 0 0 6px black;
    letter-spacing: 1px;
    font-size: 12pt;
    font-family: "osp-dindin";
    .white-text-shadow;
}

#page-title{
    display:none;
}

#map{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    background-color: white;
}

#wc{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    /*padding: 24px;
    padding-top: 38px;*/
    background-color: transparent;
}
