
.help-wrapper{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    iframe {
      width: 100%;
      height: 100%;
    }

}
.help-buttons {
    position: absolute;
    top: 34px;
    right: 34px;
    z-index: 10;

    .help-close{
        cursor: pointer;
        &:hover {

        }
    }
}
