[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "dauphine_regular";
    font-style: normal;
    speak: none;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
            font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-size: 13pt;
    width: 20px;
    display: inline-block;
    text-align: center;
    line-height: 80%;
    margin-right: 10px;
    content: "-";
}

.icon-help:before {
    content: "\e83f";
}

.icon-login:before {
    content: "\e83e";
}

.icon-about:before {
    content: "\e83d";
}

.icon-listmaps:before {
    content: "\e840";
}

.icon-addmap:before {
    content: "\e841";
}

.icon-uploadimage:before {
    content: "\e83c";
}

.icon-browseimages:before {
    content: "\e842";
}

.icon-myprofile:before {
    content: "\e843";
}

.icon-listlayers:before {
    content: "\e844";
}

.icon-addlayer:before {
    content: "\e845";
}

.icon-show-hidelayers:before {
    content: "\e846";
}

.icon-re-orderlayers:before {
    content: "\e84f";
}

.icon-setmapextent:before {
    content: "\e847";
}

.icon-selectfeatures:before {
    content: "\2193";
}

.icon-trace:before {
    content: "\e849";
}

.icon-drawline:before {
    content: "\e84A";
}

.icon-drawzone:before {
    content: "\e84B";
}

.icon-importgeo-datas:before {
    content: "\e84f";
}

.icon-listfeatures:before {
    content: "\e848";
}

.icon-setname:before {
    content: "\e84C";
}

.icon-setimage:before {
    content: "\e84D";
}

.icon-setcolor:before {
    content: "\e84E";
}

.icon-settext:before {
    content: "t";
}

.icon-editgeometry:before {
    content: "\e863";
}

.icon-zoomtofeature:before {
    content: "\2192";
}

.icon-deletefeature:before {
    content: "\e864";
}



// DOCKER
.icon-docker:before {
    content: "\2197";
    margin: 0px;
}


//CLOSE - EXPAND - COLLAPSE

.icon-close:before {
    content: "\e864";
    margin: 0px;
}

.icon-collapse:before {
    content: "\2191";
    margin: 0px;
}

.icon-expand:before {
    content: "\2193";
    margin: 0px;
}

// VIEW & NAVIGATE
.icon-lookup:before {
    content: "\e850";
    font-size: 15pt;
}

.icon-zoomin:before {
    content: "\e851";
    font-size: 20pt;
}

.icon-zoomout:before {
    content: "\e852";
    font-size: 20pt;
}


.icon-zoomjonction:before {
    content: "\e853";
    font-size: 20pt;
}