
.importer-dropzone {
    .center-content;
    position: absolute;
    margin: 0px auto 0px auto;
    width: 100%;
    height: 100%;
    background-color: @lightgrey;
    z-index: -1;
    .importer-dropzone-label {
        font-size: 25pt;
        text-align: center;
        width: 300px;
        height: 300px;
        text-shadow: none;
        font-family: "dauphine";
        color: @green;
        line-height: 130%;
    }
}


.importer-input{
    display: block;
    text-align: center;
    position: relative;
    width: 250px;
    margin: 24px auto;
    margin-top: 55vh;
}

.importer-progress {
    position: absolute;
    top: 36px;
    right: 36px;
    bottom: 36px;
    left: 36px;
    background-color: white;
    padding: 36px;

    .importer-counter {
        font-size: 142pt;
    }
}

.importer-cancel {
    margin: auto;
}

.importer-hints {
    position: absolute;
    width: 50%;
    bottom: 50px;
    left: 12px;
}
