
.importer-dropzone {
    .center-content;
    // .graticule;
    position: absolute;
    margin: 0px auto 0px auto;
    width: 100%;
    height: 100%;
    // background-color: @lightgrey;
    background-color: transparent;
    z-index: -1;
    .importer-dropzone-label {
        font-size: 25pt;
        text-align: center;
        width: 300px;
        height: 300px;
        text-shadow: none;
        font-family: "dauphine_regular";
        color: @green;
        line-height: 130%;
        background-color: @lightgrey;

    }
}


.importer-input{
    display: block;
    text-align: center;
    position: relative;
    width: 250px;
    margin: @margin * 2 auto;
    margin-top: 55vh;
}

.importer-progress {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: white;
    text-align: center;
    padding-top: 30vh;

    .importer-total {
        font-size: 25pt;
    }

    .importer-counter {
        font-size: 142pt;
    }
}

.importer-cancel {
    margin: auto;
}

.importer-hints {
    .widget-block-left;
}
