
.navigate-buttons {
    position: absolute;
    top: @margin;
    left: @margin;

    .navigate-button {
        font-family: monospace;
        font-weight: bold;
        background-color: white;
        position: absolute;
        width: 26px;
        height: 26px;
        text-align: center;
        cursor: pointer;

        &.navigate-zoom-in {
            top: 100px;
            left: 22px;
            width: 40px;
            height: 40px;
            background: url(svg/zoom-in.svg) no-repeat center;
            background-size: contain;
        }

        &.navigate-zoom-out {
            top: 130px;
            left:22px;
            width: 40px;
            height: 40px;
            background: url(svg/zoom-out.svg) no-repeat center;
            background-size: contain;
        }

        &.navigate-south {
            top: 0px;
            left: 26px;
            background: url(svg/pan-north.svg) no-repeat center;
            background-size: contain;
            }

        &.navigate-east {
            top: 26px;
            left:0;
            background: url(svg/pan-west.svg) no-repeat center;
            background-size: contain;
        }

        &.navigate-west {
            top: 26px;
            left:52px;
            background: url(svg/pan-east.svg) no-repeat center;
            background-size: contain;
        }

        &.navigate-north {
            top: 52px;
            left:26px;
            background: url(svg/pan-south.svg) no-repeat center;
            background-size: contain;
        }

        &.navigate-exit {
            width: 82px;
            top: 150px;
            left:0;
        }
    }
}

.navigate-select {
    border: 1px solid red;
}
