#register {
	position: absolute;
	background-color: @lightgrey;
	text-shadow: none;
	width: 100%;
	height: 100%;
	text-align: center;
	overflow-y: auto;


		.header {
			color: @lightblue;
			top: @margin;
			width: 100%;
			text-align: center;


			.logo {
				font-size: 100pt;
			}

			sup {
				vertical-align: super;
				font-size: 25%;
			}

			.subtitle {
				font-size: 36pt;
			}
		}


		.form-container {
			width: 300px;
			text-align: center;
			margin: auto;
		}

		.text {
			width: 500px;
			text-align: center;
			margin: auto;
			padding: @margin * 2 0px;
		}


	.footer {
		font-size: 11pt;
		margin: @margin * 2 0px;
		color: black;
		.linkwaend;

		a:link {
			color: #000;
			font-family: "dauphine_regular";
		}
	}

}

