@font-face {
    font-family: "osp-dindin";
    src: url('/styles/fonts/osp-din-webfont.eot');
    src: url('/styles/fonts/osp-din-webfont.eot?#iefix') format('embedded-opentype'),
         url('/styles/fonts/osp-din-webfont.woff2') format('woff2'),
         url('/styles/fonts/osp-din-webfont.woff') format('woff'),
         url('/styles/fonts/osp-din-webfont.ttf') format('truetype'),
         url('/styles/fonts/osp-din-webfont.svg#osp-dindin') format('svg');
    font-weight: normal;
    font-style: normal;

}


/**** VARIABLES ****/

@margin: 12px;

.white-text-shadow {
    text-shadow: 6px 0 6px #fff, 
                -6px 0 6px #fff, 
                 0 6px 6px #fff, 
                 0 -6px 6px #fff, 
                 1px 1px #fff, 
                 -1px -1px 0 #fff, 
                 1px -1px 0 #fff, 
                 -1px 1px 0 #fff;
}

.dark-text-shadow {
    text-shadow: 0 0 6px #555555, 
                 0 0 6px #555555, 
                  1px 1px 0px #555555, 
                -1px -1px 0px #555555, 
                 -1px 1px 0px #555555, 
                 1px -1px 0px #555555;
}

.word-wrap {
    /* Warning: Needed for oldIE support, but words are broken up letter-by-letter */
     -ms-word-break: break-all;
         word-break: break-all;

         /* Non standard for webkit */
         word-break: break-word;

    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
}