@font-face {
    font-family: "osp-dindin";
    src: url('/styles/fonts/osp-din-webfont.eot');
    src: url('/styles/fonts/osp-din-webfont.eot?#iefix') format('embedded-opentype'),
         url('/styles/fonts/osp-din-webfont.woff2') format('woff2'),
         url('/styles/fonts/osp-din-webfont.woff') format('woff'),
         url('/styles/fonts/osp-din-webfont.ttf') format('truetype'),
         url('/styles/fonts/osp-din-webfont.svg#osp-dindin') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: "dauphine_regular";
  src: url('/styles/fonts/dauphine_regular-webfont.eot');
  src: url('/styles/fonts/dauphine_regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('/styles/fonts/dauphine_regular-webfont.woff2') format('woff2'), 
       url('/styles/fonts/dauphine_regular-webfont.woff') format('woff'), 
       url('/styles/fonts/dauphine_regular-webfont.ttf') format('truetype'), 
       url('/styles/fonts/dauphine_regular-webfont.svg#dauphine_regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "dauphine_italic";
  src: url('/styles/fonts/dauphine_italic-webfont.eot');
  src: url('/styles/fonts/dauphine_italic-webfont.eot?#iefix') format('embedded-opentype'), 
       url('/styles/fonts/dauphine_italic-webfont.woff2') format('woff2'), 
       url('/styles/fonts/dauphine_italic-webfont.woff') format('woff'), 
       url('/styles/fonts/dauphine_italic-webfont.ttf') format('truetype'), 
       url('/styles/fonts/dauphine_italic-webfont.svg#dauphine_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "dauphine_dings";
  src: url('/styles/fonts/dauphine_dings-webfont.eot');
  src: url('/styles/fonts/dauphine_dings-webfont.eot?#iefix') format('embedded-opentype'), 
       url('/styles/fonts/dauphine_dings-webfont.woff2') format('woff2'), 
       url('/styles/fonts/dauphine_dings-webfont.woff') format('woff'), 
       url('/styles/fonts/dauphine_dings-webfont.ttf') format('truetype'), 
       url('/styles/fonts/dauphine_dings-webfont.svg#dauphine_dings') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "sansguiltmb";
  src: url('/styles/fonts/sansguiltmb-webfont.eot');
  src: url('/styles/fonts/sansguiltmb-webfont.eot?#iefix') format('embedded-opentype'), 
       url('/styles/fonts/sansguiltmb-webfont.woff2') format('woff2'), 
       url('/styles/fonts/sansguiltmb-webfont.woff') format('woff'), 
       url('/styles/fonts/sansguiltmb-webfont.ttf') format('truetype'), 
       url('/styles/fonts/sansguiltmb-webfont.svg#sansguiltmb') format('svg');
  font-weight: normal;
  font-style: normal;
}

/**** VARIABLES ****/

@margin: 12px;

@grey:      #282F35;
@lightgrey: #F8F8F8;
@blue:      #39598C;
@lightblue: #5edbfc;
@red:       #993358; 
@green:     #3F5F58;
@orange:    #FF974C;
@yellow:    #CFB84C;


@colorHelp: #91B391;


@colorFeature: @grey;
@colorLayer:   @blue;  
@colorGroup:   @green; 
@colorUser:    @yellow; 
@colorWaend:   @red;   





// @colorBase : #33cc00;
// @colorFeature:@colorBase;
// @colorLayer:  @colorBase * 0.75;
// @colorGroup:  @colorBase * 0.5;
// @colorUser:   @colorBase * 0.25;
// @colorWaend:  @colorBase * 0;

// .white-text-shadow {
//     text-shadow: 6px 0 6px #fff, 
//                 -6px 0 6px #fff, 
//                  0 6px 6px #fff, 
//                  0 -6px 6px #fff, 
//                  1px 1px #fff, 
//                  -1px -1px 0 #fff, 
//                  1px -1px 0 #fff, 
//                  -1px 1px 0 #fff;
// }

.link-hover {
  border-bottom: 1px solid @grey;
  cursor: pointer;
}

.linkwaend {
    text-decoration: none !important;
    font-family: "dauphine_italic";

  &:hover{.link-hover}
}



.white-text-shadow {
    text-shadow: 0 0 10px #fff, 
                 0 0 10px #fff, 
                 0 0 10px #fff, 
                 0 0 10px #fff,
                 0 0 10px #fff, 
                 0 0 10px #fff, 
                 1px 1px #fff, 
                 -1px -1px 0 #fff, 
                 1px -1px 0 #fff, 
                 -1px 1px 0 #fff;
}


.yellow-text-shadow {
    text-shadow: 0 0 10px gold, 
                 0 0 6px gold, 
                  1px 1px 0px #fff, 
                -1px -1px 0px #fff, 
                 -1px 1px 0px #fff, 
                 1px -1px 0px #fff;
}

.dark-text-shadow {
    text-shadow: 0 0 6px #555555, 
                 0 0 6px #555555, 
                  1px 1px 0px #555555, 
                -1px -1px 0px #555555, 
                 -1px 1px 0px #555555, 
                 1px -1px 0px #555555;
}

.word-wrap {
    /* Warning: Needed for oldIE support, but words are broken up letter-by-letter */
     -ms-word-break: break-all;
         word-break: break-all;

         /* Non standard for webkit */
         word-break: break-word;

    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
}



.push-buttons {
    font-family: "dauphine_regular";
    font-size: 12pt;
    text-shadow: none;
    text-align: center;
    padding: 4px 10px 3px 10px;
    display: block;
    color: #fbfbfb;
    border-radius: 2px;
    // min-width: 100px;
    // width: 100px;
    border: 0px;

    &:hover {
        cursor: pointer;
    }

    .linkwaend;
    a{color: #fbfbfb;}
}

.push-validate {
  .push-buttons;
  background-color: @green;
}

.push-cancel {
  .push-buttons;
  background-color: @red;
}

.push-edit {
  .push-buttons;
  background-color: @blue;
}

.push-add {
  .push-buttons;
  background-color: @orange;
}



.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-wrapper {
  margin: 6px 0px;


  input[type="text"],
  input[type="email"],
  input[type="password"] {
    background-color: transparent;
    padding: 5px 5px 0px 5px;
    border-radius: 0px;
    border: 0px;
    width: calc(~"100% - 2px");

    &:-webkit-autofill {
      background-color: transparent !important;
    }

    &:focus {
      outline: none;
    }

  }

  .input-bottomLine {
    height: 3px;
    border: 1px solid #000;
    border-top: 0px;
    margin-top: -3px;
  }
}

input {
  width: 300px;
  font-size: 16pt;
  font-family: "dauphine_regular";
  padding: 12px;
  border-radius: 3px;
  border: 0px;

  &[type="submit"] {
    background-color: @green;
    cursor: pointer;
    color:@lightgrey;
    margin-top: 18px;
  }
}


////// FADE IN

.fade-in {
    -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 0.5s; /* Firefox < 16 */
        -ms-animation: fadein 0.5s; /* Internet Explorer */
         -o-animation: fadein 0.5s; /* Opera < 12.1 */
            animation: fadein 0.5s;

  @keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }

  /* Firefox < 16 */
  @-moz-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }

  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }

  /* Internet Explorer */
  @-ms-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }

  /* Opera < 12.1 */
  @-o-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }
}



////// GRATICULE TEST

@graticule : url(svg/grid.svg);
.graticule {
  background: @graticule;
  background-position: -50px -50px;
  .fade-in;
}
