@font-face {
    font-family: "osp-dindin";
    src: url('/styles/fonts/osp-din-webfont.eot');
    src: url('/styles/fonts/osp-din-webfont.eot?#iefix') format('embedded-opentype'),
         url('/styles/fonts/osp-din-webfont.woff2') format('woff2'),
         url('/styles/fonts/osp-din-webfont.woff') format('woff'),
         url('/styles/fonts/osp-din-webfont.ttf') format('truetype'),
         url('/styles/fonts/osp-din-webfont.svg#osp-dindin') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: "dauphine_regular";
  src: url('/styles/fonts/dauphine_regular-webfont.eot');
  src: url('/styles/fonts/dauphine_regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('/styles/fonts/dauphine_regular-webfont.woff2') format('woff2'), 
       url('/styles/fonts/dauphine_regular-webfont.woff') format('woff'), 
       url('/styles/fonts/dauphine_regular-webfont.ttf') format('truetype'), 
       url('/styles/fonts/dauphine_regular-webfont.svg#dauphine_regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "dauphine_italic";
  src: url('/styles/fonts/dauphine_italic-webfont.eot');
  src: url('/styles/fonts/dauphine_italic-webfont.eot?#iefix') format('embedded-opentype'), 
       url('/styles/fonts/dauphine_italic-webfont.woff2') format('woff2'), 
       url('/styles/fonts/dauphine_italic-webfont.woff') format('woff'), 
       url('/styles/fonts/dauphine_italic-webfont.ttf') format('truetype'), 
       url('/styles/fonts/dauphine_italic-webfont.svg#dauphine_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "dauphine_dings";
  src: url('/styles/fonts/dauphine_dings-webfont.eot');
  src: url('/styles/fonts/dauphine_dings-webfont.eot?#iefix') format('embedded-opentype'), 
       url('/styles/fonts/dauphine_dings-webfont.woff2') format('woff2'), 
       url('/styles/fonts/dauphine_dings-webfont.woff') format('woff'), 
       url('/styles/fonts/dauphine_dings-webfont.ttf') format('truetype'), 
       url('/styles/fonts/dauphine_dings-webfont.svg#dauphine_dings') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "sansguiltmb";
  src: url('/styles/fonts/sansguiltmb-webfont.eot');
  src: url('/styles/fonts/sansguiltmb-webfont.eot?#iefix') format('embedded-opentype'), 
       url('/styles/fonts/sansguiltmb-webfont.woff2') format('woff2'), 
       url('/styles/fonts/sansguiltmb-webfont.woff') format('woff'), 
       url('/styles/fonts/sansguiltmb-webfont.ttf') format('truetype'), 
       url('/styles/fonts/sansguiltmb-webfont.svg#sansguiltmb') format('svg');
  font-weight: normal;
  font-style: normal;
}

/**** VARIABLES ****/

@margin: 12px;

@grey:      #282F35;
@lightgrey: #F8F8F8;
@blue:      #39598C;
@lightblue: #5edbfc;
@red:       #993358; 
@green:     #3F5F58;
@orange:    #FF974C;
@yellow:    #CFB84C;


@colorHelp: #91B391;


@colorFeature: @grey;
@colorLayer:   @blue;  
@colorGroup:   @green; 
@colorUser:    @yellow; 
@colorWaend:   @red;   





// @colorBase : #33cc00;
// @colorFeature:@colorBase;
// @colorLayer:  @colorBase * 0.75;
// @colorGroup:  @colorBase * 0.5;
// @colorUser:   @colorBase * 0.25;
// @colorWaend:  @colorBase * 0;

// .white-text-shadow {
//     text-shadow: 6px 0 6px #fff, 
//                 -6px 0 6px #fff, 
//                  0 6px 6px #fff, 
//                  0 -6px 6px #fff, 
//                  1px 1px #fff, 
//                  -1px -1px 0 #fff, 
//                  1px -1px 0 #fff, 
//                  -1px 1px 0 #fff;
// }

.link-hover {border-bottom: 1px solid blue;}

.linkwaend {
  a{ 
    text-decoration: none !important;}

  a:link{font-family: "dauphine_italic";}

  a:hover{.link-hover}
}



.white-text-shadow {
    text-shadow: 0 0 10px #fff, 
                 0 0 10px #fff, 
                 0 0 10px #fff, 
                 0 0 10px #fff,
                 0 0 10px #fff, 
                 0 0 10px #fff, 
                 1px 1px #fff, 
                 -1px -1px 0 #fff, 
                 1px -1px 0 #fff, 
                 -1px 1px 0 #fff;
}


.yellow-text-shadow {
    text-shadow: 0 0 10px gold, 
                 0 0 6px gold, 
                  1px 1px 0px #fff, 
                -1px -1px 0px #fff, 
                 -1px 1px 0px #fff, 
                 1px -1px 0px #fff;
}

.dark-text-shadow {
    text-shadow: 0 0 6px #555555, 
                 0 0 6px #555555, 
                  1px 1px 0px #555555, 
                -1px -1px 0px #555555, 
                 -1px 1px 0px #555555, 
                 1px -1px 0px #555555;
}

.word-wrap {
    /* Warning: Needed for oldIE support, but words are broken up letter-by-letter */
     -ms-word-break: break-all;
         word-break: break-all;

         /* Non standard for webkit */
         word-break: break-word;

    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
}


.flat-color {
    font-family: "dauphine_regular";
    font-size: 80%;
    text-shadow: none;
    padding: 6px 8px 5px 8px;
    display: inline-block;
    color: #fbfbfb;
    border-radius: 2px;
    min-width: 150px;

    &:hover {
        cursor: pointer;
    }

    .linkwaend;
    a{color: #fbfbfb;}
}

.flat-green {
  .flat-color;
  background-color: @green;
}

.flat-orange {
  .flat-color;
  background-color: @orange;
}


.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  width: 300px;
  font-size: 16pt;
  font-family: "dauphine_regular";
  padding: 12px;
  border-radius: 3px;
  border: 0px;
  margin: 6px 0px;

  &[type="submit"] {
    background-color: @green;
    cursor: pointer;
  }
}
