

.view-group-wrapper {
    cursor: default;
    position: absolute;
    left: @margin;
    top: 35px;
    width: 300px;
    .text-shadow(#fff);


    .view-group-label {
        .label;
    }

    .view-group-title-wrapper {
        font-size: 150%;
    }

    .view-group-author {
        margin-bottom: @margin;
        font-style: italic;
    }

    .view-group-description {}
}

.view-visible-wrapper {
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    bottom: @margin;
    left: @margin;
    max-height: 50%;
    padding: 1px;
    .text-shadow(#fff);


    .view-visible-title {
        margin-bottom: 16px;
        text-transform: uppercase;
    }

    .layer-item {

        .layer-item-label {
            font-size: 9pt;
            cursor: pointer;
          display: inline-block;
        }

        .layer-item-extra {
            display: none;
        }

        &.unfold {
            padding: 12px 12px 12px 0;
            border-left: none;
            background-color: #FFF;
            .layer-item-label {
                border-bottom: 1px solid;
            }
            .layer-item-extra {
                display: block;
                padding-top: 16px;
            }
        }

        &.visible-yes {

        }

        &.visible-no {
            color: gray;
        }

        .layer-item-actions {
            display: inline-block;
            span {
                display: inline-block;
                cursor: pointer;
            }
        }
    }

}

.view-lookup-wrapper {
    position: absolute;
    top: 2px;
    left: @margin;
    z-index: 1;

    .input-wrapper {
        float: left;
        margin: 0px;
        margin-right: @margin / 2;

        input {
            .text-shadow(#fff);
            margin-bottom: -5px;
            font-size: 12pt;
        }
    }

    .view-lookup-search {
        .text-shadow(#fff);
        .label;
        border: 0px;
        background: transparent;
        padding-top: @margin;
        font-family: "dauphine_regular";

        &:hover {cursor: pointer;}
        &:focus {outline: none;}
    }

    .view-lookup-results {
        &.hidden {
            display: none;
        }
        z-index: 10000;
        padding: @margin / 2;
        display: block;
        width: 300px;
        background-color: white;
        border: 1px solid black;
        max-height: 90%;
        overflow-y: auto;
        .view-lookup-result {
            padding-bottom: 1em;

            .view-lookup-result-title {
                .linkwaend;
                display: block;
                font-weight: bold;
                font-family: "dauphine_regular";
                color: #000;
                padding: 2px 0px;
            }
            .view-lookup-result-image {
                width: 300px;
            }
            .view-lookup-result-description {
                margin-top: 6px;
                // font-size: 80%;
            }
        }
    }
}

.credit-waend {
    font-size: 9pt;
    position: absolute;
    bottom: 0px;
    text-transform: lowercase;
    width: 200px;
    margin-left: calc(~"50vw - 100px");
    text-align: center;
    .text-shadow(#fff);

    a{
        text-decoration: none;
        color: #000;
        &:hover {cursor: pointer;}
        &:focus {outline: none;}
    }

}

.view-notify {
    position: absolute;
    top: @margin;
    right: @margin;
    width: 200px;
    min-height: 25px;
    max-height: 50%;
    overflow-y: auto;
    overflow-x: hidden;
    .text-shadow(#fff);

    .view-notify-title {
        .label;

        .view-notification-follow.state-yes {
            color: red;

            &:after{
                content: "(on)";
            }
        }
    }

    .view-notify-container {

    }


}
