
.visible-wrapper {
    position: relative;
    width: 33%;
    min-width: 250px;
    height: 100%;
    margin: auto;
    overflow-y:auto;

    .visible-cancel, .visible-validate {
        float: left;
    }


    .visible-validate {
        // left:24px;
        margin-right: 12px;
    }
    .visible-cancel {
        // left:124px;
    }

    .visible-layer {
        background-color: rgba(255,255,255, 0.2);
        color: black;
        font-weight: bold;
        font-size: 160%;
        cursor: pointer;
        padding: 12px;
        margin:12px;
        text-align:center;
    }

    .visible-yes {
        border: 3px solid #00B8FF;
    }
    .visible-no {
        border: 3px solid #D4D4D4;
    }

}
