
.visible-wrapper {
    .widget-block-left;


    .visible-cancel, .visible-validate {
        float: left;
    }

    .visible-layer {
        cursor: pointer;
    }

    .visible-yes:before,
    .visible-no:before {
        display: inline-block;
        width: 12px;
        height: 9px;
        padding-right: 9px;
        content: "";
        cursor: pointer;

    }

    .visible-yes:before {
        background: url(../../styles/svg/eye-open.svg) left no-repeat;
        background-size: contain;
    }

    .visible-no:before {
        background: url(../../styles/svg/eye-closed.svg) left no-repeat;
        background-size: contain;

    }

}
