@import "codemirror.css";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background-color: transparent;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  overflow: hidden;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: "osp-dindin";
  src: url('/styles/fonts/osp-din-webfont.eot');
  src: url('/styles/fonts/osp-din-webfont.eot?#iefix') format('embedded-opentype'), url('/styles/fonts/osp-din-webfont.woff2') format('woff2'), url('/styles/fonts/osp-din-webfont.woff') format('woff'), url('/styles/fonts/osp-din-webfont.ttf') format('truetype'), url('/styles/fonts/osp-din-webfont.svg#osp-dindin') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "dauphine_regular";
  src: url('/styles/fonts/dauphine_regular-webfont.eot');
  src: url('/styles/fonts/dauphine_regular-webfont.eot?#iefix') format('embedded-opentype'), url('/styles/fonts/dauphine_regular-webfont.woff2') format('woff2'), url('/styles/fonts/dauphine_regular-webfont.woff') format('woff'), url('/styles/fonts/dauphine_regular-webfont.ttf') format('truetype'), url('/styles/fonts/dauphine_regular-webfont.svg#dauphine_regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "dauphine_italic";
  src: url('/styles/fonts/dauphine_italic-webfont.eot');
  src: url('/styles/fonts/dauphine_italic-webfont.eot?#iefix') format('embedded-opentype'), url('/styles/fonts/dauphine_italic-webfont.woff2') format('woff2'), url('/styles/fonts/dauphine_italic-webfont.woff') format('woff'), url('/styles/fonts/dauphine_italic-webfont.ttf') format('truetype'), url('/styles/fonts/dauphine_italic-webfont.svg#dauphine_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "dauphine_dings";
  src: url('/styles/fonts/dauphine_dings-webfont.eot');
  src: url('/styles/fonts/dauphine_dings-webfont.eot?#iefix') format('embedded-opentype'), url('/styles/fonts/dauphine_dings-webfont.woff2') format('woff2'), url('/styles/fonts/dauphine_dings-webfont.woff') format('woff'), url('/styles/fonts/dauphine_dings-webfont.ttf') format('truetype'), url('/styles/fonts/dauphine_dings-webfont.svg#dauphine_dings') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "sansguiltmb";
  src: url('/styles/fonts/sansguiltmb-webfont.eot');
  src: url('/styles/fonts/sansguiltmb-webfont.eot?#iefix') format('embedded-opentype'), url('/styles/fonts/sansguiltmb-webfont.woff2') format('woff2'), url('/styles/fonts/sansguiltmb-webfont.woff') format('woff'), url('/styles/fonts/sansguiltmb-webfont.ttf') format('truetype'), url('/styles/fonts/sansguiltmb-webfont.svg#sansguiltmb') format('svg');
  font-weight: normal;
  font-style: normal;
}
/**** VARIABLES ****/
.link-hover {
  border-bottom: 1px solid blue;
}
.linkwaend a {
  text-decoration: none !important;
}
.linkwaend a:link {
  font-family: "dauphine_italic";
}
.linkwaend a:hover {
  border-bottom: 1px solid blue;
}
.white-text-shadow {
  text-shadow: 0 0 10px #ffffff, 0 0 10px #ffffff, 0 0 10px #ffffff, 0 0 10px #ffffff, 0 0 10px #ffffff, 0 0 10px #ffffff, 1px 1px #ffffff, -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff;
}
.yellow-text-shadow {
  text-shadow: 0 0 10px #ffd700, 0 0 6px #ffd700, 1px 1px 0px #ffffff, -1px -1px 0px #ffffff, -1px 1px 0px #ffffff, 1px -1px 0px #ffffff;
}
.dark-text-shadow {
  text-shadow: 0 0 6px #555555, 0 0 6px #555555, 1px 1px 0px #555555, -1px -1px 0px #555555, -1px 1px 0px #555555, 1px -1px 0px #555555;
}
.word-wrap {
  /* Warning: Needed for oldIE support, but words are broken up letter-by-letter */
  -ms-word-break: break-all;
  word-break: break-all;
  /* Non standard for webkit */
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
.flat-color {
  font-family: "dauphine_regular";
  font-size: 80%;
  text-shadow: none;
  padding: 6px 8px 5px 8px;
  display: inline-block;
  color: #fbfbfb;
  border-radius: 2px;
  min-width: 150px;
}
.flat-color:hover {
  cursor: pointer;
}
.flat-color a {
  text-decoration: none !important;
}
.flat-color a:link {
  font-family: "dauphine_italic";
}
.flat-color a:hover {
  border-bottom: 1px solid blue;
}
.flat-color a {
  color: #fbfbfb;
}
.flat-green {
  font-family: "dauphine_regular";
  font-size: 80%;
  text-shadow: none;
  padding: 6px 8px 5px 8px;
  display: inline-block;
  color: #fbfbfb;
  border-radius: 2px;
  min-width: 150px;
  background-color: #94e294;
}
.flat-green:hover {
  cursor: pointer;
}
.flat-green a {
  text-decoration: none !important;
}
.flat-green a:link {
  font-family: "dauphine_italic";
}
.flat-green a:hover {
  border-bottom: 1px solid blue;
}
.flat-green a {
  color: #fbfbfb;
}
.flat-orange {
  font-family: "dauphine_regular";
  font-size: 80%;
  text-shadow: none;
  padding: 6px 8px 5px 8px;
  display: inline-block;
  color: #fbfbfb;
  border-radius: 2px;
  min-width: 150px;
  background-color: #ff974c;
}
.flat-orange:hover {
  cursor: pointer;
}
.flat-orange a {
  text-decoration: none !important;
}
.flat-orange a:link {
  font-family: "dauphine_italic";
}
.flat-orange a:hover {
  border-bottom: 1px solid blue;
}
.flat-orange a {
  color: #fbfbfb;
}
.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  width: 300px;
  font-size: 16pt;
  font-family: "dauphine_regular";
  padding: 12px;
  border-radius: 3px;
  border: 0px;
  margin: 6px 0px;
}
input[type="submit"] {
  background-color: #94e294;
  cursor: pointer;
}
body {
  background-color: #E5E5E5;
  text-shadow: 0 0 6px black;
  letter-spacing: 1px;
  font-size: 14pt;
  font-family: "dauphine_regular";
  text-shadow: 0 0 10px #ffffff, 0 0 10px #ffffff, 0 0 10px #ffffff, 0 0 10px #ffffff, 0 0 10px #ffffff, 0 0 10px #ffffff, 1px 1px #ffffff, -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff;
}
#page-title {
  display: none;
}
#map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
}
#wc {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /*padding: 24px;
    padding-top: 38px;*/
  background-color: transparent;
}
.wc-context-feature {
  color: #198cff !important;
}
.wc-context-layer {
  color: #2892d1 !important;
}
.wc-context-group {
  color: #3698a4 !important;
}
.wc-context-user {
  color: #459f76 !important;
}
.wc-context-shell {
  color: #53a548 !important;
}
#register {
  position: absolute;
  background-color: #f8f8f8;
  text-shadow: none;
  width: 100%;
  height: 100%;
  text-align: center;
}
#register .header {
  color: #5edbfc;
  top: 12px;
  width: 100%;
  text-align: center;
}
#register .header .logo {
  font-size: 100pt;
}
#register .header sup {
  vertical-align: super;
  font-size: 25%;
}
#register .header .subtitle {
  font-size: 36pt;
}
#register .form-container {
  width: 300px;
  text-align: center;
  margin: auto;
}
#register .text {
  width: 500px;
  text-align: center;
  margin: auto;
  padding: 24px 0px;
}
#register .footer {
  font-size: 11pt;
  position: absolute;
  bottom: 12px;
  left: 0px;
  width: 100%;
  text-align: center;
  color: black;
}
#register .footer a {
  text-decoration: none !important;
}
#register .footer a:link {
  font-family: "dauphine_italic";
}
#register .footer a:hover {
  border-bottom: 1px solid blue;
}
.wc-display {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  font-family: "sansguiltmb";
  background-color: transparent;
}
.wc-hide {
  display: none;
}
#wc.fold {
  bottom: 64%;
  border-bottom: 1px solid;
}
.wc-pages {
  position: absolute;
  width: 60%;
  max-height: 50%;
  overflow: auto;
  bottom: 55px;
  left: 12px;
  background-color: transparent;
}
.wc-page {
  opacity: 1;
  width: 100%;
  overflow-y: hidden;
}
.wc-page-title {
  color: #cecece;
  margin-bottom: 6px;
}
.wc-page.wc-inactive {
  opacity: 0;
  transform: translateX(-50%);
  transition-property: opacity, transform;
  transition-duration: 1s;
}
.wc-input {
  position: absolute;
  bottom: 0;
  padding: 5px 12px;
  left: 0;
  border: 0;
  border-top: 1px solid grey;
  font-size: 20pt;
  background-color: #f8f8f8;
  width: calc(100% - 24px);
  font-family: "dauphine_regular";
  letter-spacing: 1px!important;
  color: #4C4C4C;
}
.wc-input:focus {
  outline: none;
}
.wc-input.wc-inactive {
  color: #252525;
  /*display: none;*/
}
.wc-pending {
  color: #2B71FF;
}
.wc-error {
  color: #FF4B3B;
  font-family: "dauphine_italic";
  font-size: 11pt;
  margin-left: 12px;
}
.wc-error {
  -moz-animation: cssAnimation 0s ease-in 5s forwards;
  /* Firefox */
  -webkit-animation: cssAnimation 0s ease-in 5s forwards;
  /* Safari and Chrome */
  -o-animation: cssAnimation 0s ease-in 5s forwards;
  /* Opera */
  animation: cssAnimation 0s ease-in 5s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    overflow: hidden;
  }
}
@-webkit-keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    visibility: hidden;
  }
}
.wc-command {
  font-style: italic;
  text-decoration: none;
  color: #FF00BE;
}
.wc-command:hover,
.wc-command:focus {
  border-bottom: 1px solid;
}
.hidden {
  display: none;
}
.key-value {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  display: inline-block;
  margin-bottom: 6px;
}
.key-value .key {
  width: 100px;
  font-size: 80%;
  text-align: right;
  padding-right: 6px;
  color: #ff00be;
  display: inline-block;
  /* Warning: Needed for oldIE support, but words are broken up letter-by-letter */
  -ms-word-break: break-all;
  word-break: break-all;
  /* Non standard for webkit */
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
.key-value .value {
  width: calc(100% - 75px - 6px);
  font-family: "sansguiltmb";
  font-size: 11pt;
  letter-spacing: 0.5px;
}
.wc-mapblock {
  position: absolute;
  right: 12px;
  top: 12px;
  color: #ff00be;
  font-weight: normal;
  letter-spacing: 2px;
  text-align: right;
  text-shadow: 0 0 10px #ffffff, 0 0 10px #ffffff, 0 0 10px #ffffff, 0 0 10px #ffffff, 0 0 10px #ffffff, 0 0 10px #ffffff, 1px 1px #ffffff, -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff;
}
.wc-nav,
.wc-select,
.wc-draw-zoom {
  cursor: pointer;
  margin-bottom: 0px;
  border-bottom: 1px solid transparent;
}
.wc-nav:hover,
.wc-select:hover,
.wc-draw-zoom:hover {
  border-bottom: 1px solid blue;
}
.key-name {
  display: inline-block !important;
}
.key-name .value {
  font-size: 120%;
  font-family: inherit;
  letter-spacing: inherit;
}
.key-name .key {
  display: inline-block !important;
}
.hint {
  font-family: "dauphine_regular";
  font-size: 11pt;
  text-shadow: none;
  display: inline-block;
  color: #94e294;
  margin-left: 65px;
}
.hint a {
  color: #94e294;
  text-decoration: none !important;
  display: inline-block;
  border-bottom: 1px solid transparent;
}
.hint a:link {
  font-family: "dauphine_italic";
}
.hint a:hover {
  border-bottom: 1px solid blue;
}
.wc-title {
  position: absolute;
  top: 12px;
  left: 12px;
  font-size: 12pt;
  text-shadow: 0 0 6px #fff;
}
.wc-title a:link {
  display: inline-block;
  font-size: 100%;
  text-decoration: none !important;
  margin-right: 3px;
  height: 20px;
  line-height: 20px;
  text-shadow: 0 0 10px #ffffff, 0 0 10px #ffffff, 0 0 10px #ffffff, 0 0 10px #ffffff, 0 0 10px #ffffff, 0 0 10px #ffffff, 1px 1px #ffffff, -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff;
}
.wc-title a:last-child {
  font-size: 125%;
}
.wc-title a:hover {
  border-bottom: 1px solid blue;
}
.wc-title .wc-context-feature:after {
  content: "feature";
}
.wc-title .wc-context-layer:after {
  content: "layer";
}
.wc-title .wc-context-group:after {
  content: "group";
}
.wc-title .wc-context-user:after {
  content: "user";
}
.wc-title .wc-context-shell:after {
  content: "wænd";
}
.wc-title .wc-context-feature:after,
.wc-title .wc-context-layer:after,
.wc-title .wc-context-group:after,
.wc-title .wc-context-user:after,
.wc-title .wc-context-shell:after {
  position: relative;
  display: block;
  font-size: 9pt;
  font-family: "sansguiltmb";
  width: 40px;
  left: calc(50% - 20px);
  text-align: center;
  top: -3px;
}
.navigate-buttons {
  position: absolute;
  top: 32px;
  left: 32px;
}
.navigate-buttons .navigate-button {
  font-family: monospace;
  font-weight: bold;
  background-color: white;
  border: 1px solid black;
  font-size: 20px;
  position: absolute;
  width: 32px;
  height: 26px;
  padding-top: 6px;
  text-align: center;
  cursor: pointer;
}
.navigate-buttons .navigate-button:hover {
  background-color: #aaa;
  border: 1px solid blue;
}
.navigate-buttons .navigate-button.navigate-zoom-in {
  top: 0;
  left: 0;
}
.navigate-buttons .navigate-button.navigate-zoom-out {
  top: 0;
  left: 36px;
}
.navigate-buttons .navigate-button.navigate-south {
  top: 36px;
  left: 18px;
}
.navigate-buttons .navigate-button.navigate-east {
  top: 72px;
  left: 0;
}
.navigate-buttons .navigate-button.navigate-west {
  top: 72px;
  left: 36px;
}
.navigate-buttons .navigate-button.navigate-north {
  top: 110px;
  left: 18px;
}
.navigate-buttons .navigate-button.navigate-exit {
  width: 82px;
  top: 150px;
  left: 0;
}
.navigate-select {
  border: 1px solid red;
}
.wc-buttons {
  position: absolute;
  bottom: 55px;
  right: 12px;
  text-align: right;
  z-index: 123;
  letter-spacing: 1px;
  text-shadow: 0 0 10px #ffffff, 0 0 10px #ffffff, 0 0 10px #ffffff, 0 0 10px #ffffff, 0 0 10px #ffffff, 0 0 10px #ffffff, 1px 1px #ffffff, -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff;
}
.wc-buttons-group {
  margin-top: 6px;
  font-family: "sansguiltmb";
  font-size: 9pt;
  width: auto;
}
.wc-buttons-group.wc-current .wc-button {
  font-size: 15pt;
  transition-property: font-size;
  transition-duration: 0.5s;
}
.wc-buttons-group.wc-active .wc-button {
  font-size: 12pt;
  transition-property: font-size;
  transition-duration: 0.5s;
}
.wc-buttons-group.wc-inactive {
  display: none;
  font-size: 0pt;
  transition-property: font-size;
  transition-duration: 0.5s;
}
.wc-button {
  cursor: pointer;
  border-bottom: 1px solid transparent;
  font-family: "dauphine_regular";
}
.wc-button:first-child {
  padding-top: 3px;
}
.wc-button:hover {
  border-bottom: 1px solid blue;
}
.media-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: black;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  overflow-y: auto;
}
.media-wrapper .media-close {
  position: absolute;
  top: 24px;
  right: 24px;
  color: white;
  font-weight: bold;
  font-size: 200%;
  text-shadow: 0 0 6px black;
  cursor: pointer;
}
.media-wrapper .media-close:hover {
  color: blue;
}
.media-wrapper .media-pick-item {
  float: left;
  margin: 22px;
  border: 1px grey;
}
.CodeMirror {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}
.CodeMirror .CodeMirror-sizer {
  width: 550px;
  margin-left: 12px!important;
  background: #f8f8f8;
  border: 0px;
  padding: 12px!important;
  top: 55px;
  min-height: 50px!important;
  max-height: calc(100vh - 110px);
  overflow-y: auto;
}
.CodeMirror .CodeMirror-code {
  text-shadow: none;
}
.edit-buttons {
  position: absolute;
  top: 55px;
  margin-left: calc(598px);
  width: auto;
  text-align: center;
}
.edit-buttons .edit-save {
  color: #f8f8f8;
  font-family: 'osp-dindin';
  font-size: 200%;
  cursor: pointer;
  text-shadow: none;
  border-bottom: 1px solid blue;
}
.edit-buttons .edit-cancel {
  color: #f8f8f8;
  font-family: 'osp-dindin';
  font-size: 200%;
  cursor: pointer;
  text-shadow: none;
  border-bottom: 1px solid red;
}
.help-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 46px;
}
.help-wrapper iframe {
  width: 100%;
  height: 100%;
}
.help-buttons {
  position: absolute;
  top: 34px;
  right: 34px;
  z-index: 10;
}
.help-buttons .help-close {
  cursor: pointer;
}
.importer-dropzone {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: 0px auto 0px auto;
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
  z-index: -1;
}
.importer-dropzone .importer-dropzone-label {
  font-size: 25pt;
  text-align: center;
  width: 300px;
  height: 300px;
  text-shadow: none;
  font-family: "dauphine";
  color: #94e294;
  line-height: 130%;
}
.importer-input {
  display: block;
  text-align: center;
  position: relative;
  width: 250px;
  margin: 24px auto;
  margin-top: 55vh;
}
.importer-progress {
  position: absolute;
  top: 36px;
  right: 36px;
  bottom: 36px;
  left: 36px;
  background-color: white;
  padding: 36px;
}
.importer-progress .importer-counter {
  font-size: 142pt;
}
.importer-cancel {
  font-family: "dauphine_regular";
  font-size: 80%;
  text-shadow: none;
  padding: 6px 8px 5px 8px;
  display: inline-block;
  color: #fbfbfb;
  border-radius: 2px;
  min-width: 150px;
  background-color: #ff974c;
  display: block;
  width: 150px;
  text-align: center;
  margin: auto;
}
.importer-cancel:hover {
  cursor: pointer;
}
.importer-cancel a {
  text-decoration: none !important;
}
.importer-cancel a:link {
  font-family: "dauphine_italic";
}
.importer-cancel a:hover {
  border-bottom: 1px solid blue;
}
.importer-cancel a {
  color: #fbfbfb;
}
.importer-hints {
  position: absolute;
  width: 50%;
  bottom: 50px;
  left: 12px;
}
.trace-buttons {
  position: absolute;
  left: 22px;
  top: 22px;
  background-color: grey;
  padding: 12px;
}
.trace-buttons .trace-button.active .trace-button-label {
  color: #337AFF;
  font-weight: bold;
}
.visible-wrapper {
  position: relative;
  width: 33%;
  height: 100%;
  margin: auto;
  overflow-y: auto;
}
.visible-wrapper .visible-cancel,
.visible-wrapper .visible-submit {
  position: absolute;
  bottom: 24px;
  color: white;
  font-weight: bold;
  font-size: 200%;
  text-shadow: 0 0 6px black;
  cursor: pointer;
}
.visible-wrapper .visible-cancel:hover,
.visible-wrapper .visible-submit:hover {
  color: blue;
}
.visible-wrapper .visible-submit {
  left: 24px;
}
.visible-wrapper .visible-cancel {
  left: 124px;
}
.visible-wrapper .visible-layer {
  background-color: rgba(255, 255, 255, 0.2);
  color: black;
  font-weight: bold;
  font-size: 160%;
  cursor: pointer;
  padding: 12px;
  margin: 12px;
  text-align: center;
}
.visible-wrapper .visible-yes {
  border: 3px solid #00B8FF;
}
.visible-wrapper .visible-no {
  border: 3px solid #D4D4D4;
}
