/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: "osp-dindin";
  src: url('/styles/fonts/osp-din-webfont.eot');
  src: url('/styles/fonts/osp-din-webfont.eot?#iefix') format('embedded-opentype'), url('/styles/fonts/osp-din-webfont.woff2') format('woff2'), url('/styles/fonts/osp-din-webfont.woff') format('woff'), url('/styles/fonts/osp-din-webfont.ttf') format('truetype'), url('/styles/fonts/osp-din-webfont.svg#osp-dindin') format('svg');
  font-weight: normal;
  font-style: normal;
}
/**** VARIABLES ****/
body {
  background-color: #E5E5E5;
  text-shadow: 0 0 6px black;
  letter-spacing: 1px;
  font-size: 12pt;
  font-family: "osp-dindin";
}
#page-title {
  display: none;
}
#map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
}
#wc {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /*padding: 24px;
    padding-top: 38px;*/
  background-color: transparent;
}
.media-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: black;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
.media-close {
  position: absolute;
  top: 24px;
  right: 24px;
  color: white;
  font-weight: bold;
  font-size: 200%;
  text-shadow: 0 0 6px black;
  cursor: pointer;
}
.media-close:hover {
  color: blue;
}
.wc-display {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  font-family: monospace;
  background-color: transparent;
}
#wc.fold {
  bottom: 64%;
  border-bottom: 1px solid;
}
.wc-pages {
  position: absolute;
  width: 60%;
  max-height: 50%;
  overflow: auto;
  bottom: 48px;
  left: 48px;
  background-color: transparent;
}
.wc-page {
  opacity: 1;
  width: 100%;
  overflow-y: hidden;
  padding-left: 10px;
}
.wc-page-title {
  font-size: 100%;
  color: darkgrey;
  margin-bottom: 6px;
  font-family: monospace;
  text-shadow: 0 0 6px white;
}
.wc-page.wc-inactive {
  opacity: 0;
  transform: translateX(-50%);
  transition-property: opacity, transform;
  transition-duration: 1s;
}
.wc-input {
  position: absolute;
  bottom: 12px;
  left: 48px;
  border: 0;
  border-top: 1px solid grey;
  font-size: 12pt;
  background-color: rgba(255, 255, 255, 0.8);
  width: 60%;
  text-shadow: 0 0 6px white;
  font-family: monospace;
}
.wc-input:focus {
  outline: none;
}
.wc-input.wc-inactive {
  color: #252525;
  /*display: none;*/
}
.wc-pending {
  color: #2B71FF;
}
.wc-error {
  color: #FF4B3B;
}
.wc-command {
  font-style: italic;
  text-decoration: none;
  color: #FF00BE;
}
.wc-command:hover,
.wc-command:focus {
  border-bottom: 1px solid;
}
.hidden {
  display: none;
}
.hint {
  font-size: 75%;
  font-style: italic;
  letter-spacing: 0.5px;
  font-family: monospace;
}
.wc-title {
  position: absolute;
  top: 12px;
  left: 12px;
  font-size: 12pt;
  color: #FF00BE;
}
.wc-mapblock {
  position: absolute;
  right: 12px;
  top: 12px;
  font-size: 150%;
  color: #fff;
  font-weight: normal;
  letter-spacing: 2px;
  text-align: center;
}
.wc-nav,
.wc-select,
.wc-draw-zoom {
  cursor: pointer;
  margin-bottom: 6px;
  border-bottom: 1px solid transparent;
}
.wc-nav:hover,
.wc-select:hover,
.wc-draw-zoom:hover {
  border-bottom: 1px solid blue;
}
.wc-buttons {
  position: absolute;
  font-size: 125%;
  bottom: 12px;
  right: 12px;
  text-align: right;
  z-index: 123;
}
.wc-buttons-group {
  font-weight: bold;
  margin-top: 6px;
}
.wc-buttons-group.wc-active {
  opacity: 1;
}
.wc-buttons-group.wc-inactive {
  opacity: .1;
}
.wc-button {
  cursor: pointer;
  font-weight: normal;
  border-bottom: 1px solid transparent;
}
.wc-button:hover {
  border-bottom: 1px solid blue;
}
