

.wc-display {
    .fade-in;
    .absolute-fullscreen;
    cursor: default;
    z-index: 1000;
    width:100%;
    height:100%;
    background-color: transparent;

}

#wc.fold {
    bottom: 64%;
    border-bottom: 1px solid;
}







.wc-element {
    cursor: default;

    &.wc-mapblock {
        position: absolute;
        left: 36%;
        top: @margin;
        color: @red;
        font-size: 11pt;
        font-weight: normal;
        letter-spacing: 2px;
        text-align: right;
        .text-shadow(#fff);

        &.wc-hide {
            top: -64px;
        }

        .wc-nav, .wc-select, .wc-draw-zoom {
            display: inline-block;
            cursor: pointer;
            margin-bottom: 0px;
            border-bottom: 1px solid transparent; // to avoid glitch on over
            margin: 0 1em;
            &:hover {
                .link-hover;
            }
        }
    }
}


.wc-loader {
    position: absolute;
    top: 20%;
    right: 20%;
    bottom: 20%;
    left: 20%;
    padding: @margin * 3;
    z-index: 1000;

    .wc-loader-items {
        .wc-loader-item {
            display: inline-block;
            width: 1%;
            height: 4px;
        }
    }

    .wc-loader-text {
        text-align: center;
        font-size: 200%;
    }
}


// here atm, waiting for a better place
.ll-zoomer {
    position: absolute;
    right: 0;
    cursor: pointer;
}
