

.wc-display {
    cursor: default;
    position:absolute;
    z-index: 1000;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    width:100%;
    height:100%;
    background-color: transparent;
}

#wc.fold {
    bottom: 64%;
    border-bottom: 1px solid;
}





.wc-element {
    cursor: default;

    &.wc-mapblock {
        position: absolute;
        left: 36%;
        top: 12px;
        color: @red;
        font-size: 11pt;
        font-weight: normal;
        letter-spacing: 2px;
        text-align: right;
        .white-text-shadow;

        &.wc-hide {
            top: -64px;
            //.transition-move;
        }

        .wc-nav, .wc-select, .wc-draw-zoom {
            display: inline-block;
            cursor: pointer;
            margin-bottom: 0px;
            border-bottom: 1px solid transparent; // to avoid glitch on over
            margin: 0 1em;
            &:hover {
                .link-hover;
            }
        }
    }

    &.wc-pages {
        background: @lightgrey;
        position: absolute;
        left: @widthMenuLeft + 38px;
        bottom: 30px;
        width: 636px;
        max-height: 80%;
        display: block;
        overflow-y: auto;
        overflow-x: hidden;
        text-shadow: none;
        //.transition-move;


        &.wc-hide {
            bottom: -80%;
            //.transition-move;
        }
        .wc-title {
            width: 100%;
            background-color: transparent;
            padding-bottom: 3px;
            color: #8A8A8A;
            text-align: left;

            &:empty {display: none;}

            .wc-page-title {
                text-shadow: none;
                margin-bottom: 6px;
                font-size: 10pt;
                padding: 6px 12px;
                font-family: monospace;
                max-width: 440px;


                &:before {
                    content: "> ";
                    font-size: 8pt;
                }
            }
            .wc-page-docker,
            .wc-page-closer {
                text-align: right;
                cursor: pointer;
                font-size: 9pt;
                text-transform: uppercase;
                color: black;
                margin: 0px 10px;
                position: absolute;
            }
            .wc-page-closer {
                top: 6px;
                right: 0px;
            }

            .wc-page-docker {
                top: 6px;
                right: 70px;
            }
        }
        .wc-page {
            display: block;
            padding: 6px 12px;
            overflow-y: auto;
            overflow-x: hidden;

            &.wc-active{
                opacity: 1;
                transform: none;
            }

            &.wc-inactive {
                opacity: 0;
                transform: translateY(50%);
                transition-property: opacity, transform;
                transition-duration: 1s;
            }

            &.hidden {
                display: none;
            }


        }


        .wc-line {
            font-size: 10pt;
            &:hover {
                cursor: default;
            }
            a{
                .linkwaend;
                color: #000;
            }

            
             [class^="group-"] {
                padding-bottom: 6px;
            }

            // .hint {
            //     font-family: "dauphine_regular";
            //     text-shadow: none;
            //     display: inline-block;
            //     color: @colorHelp;

            //     a{
            //       color: @colorHelp;
            //       text-decoration: none !important;
            //       display: inline-block;
            //       border-bottom: 1px solid transparent;
            //       margin-bottom: 6px;
            //     }

            //     a:link{font-family: "dauphine_italic";}

            //     a:hover{.link-hover}
            // }
        }

    }

    &.wc-dock {
        position: absolute;
        right: 0;
        top: 0;
        width: 200px;
        max-height: 100%;
        overflow-y: auto;
        overflow-x: hidden;

        &:before {
            content: "DOCK";
            font-size: 8pt;
            text-align: right;
            display: block;
            margin-top: 6px;
            margin-right: 6px;
            height: 10px;
        }

        &.wc-hide {
            right: -200px;
            //.transition-move;
        }

        .wc-dock-page {
            margin-top: 12px;
            padding: 6px;
            background: #fff;
            margin-right: 6px;
            border: 1px solid #000;


            .wc-dock-buttons {
                font-size: 9pt;
                text-transform: uppercase;
                padding-bottom: 6px;

                .wc-close {
                    display: inline-block;
                    cursor: pointer;
                    margin-right: 12px;
                }

                .wc-collapse {
                    display: inline-block;
                    cursor: pointer;
                }

                .wc-expand {
                    display: inline-block;
                    cursor: pointer;
                }
            }

            .wc-page {
                font-size: 10pt;
                // height: auto;
                max-height: 9999px;
                overflow: hidden;
                border-left: 1px dashed #000;
                padding-left: 6px;
                //.transition-move;


                &.wc-collapsed {
                    // height: 0px;
                    max-height: 0px;
                    //.transition-move;
                }

                a {
                    color: #000;
                    .linkwaend;
                }

                .wc-line {
                    cursor: pointer;
                    border-bottom: 1px solid transparent;
                    display: table;
                    margin-bottom: 1px;

                    &:hover {
                        cursor: pointer;
                        border-bottom: 1px solid #000;
                    }
                }

                .key-value {
                    .key {
                      padding-right: 6px;
                      color: @red;
                      display: block;
                      .word-wrap;
                    }

                    .value {
                        letter-spacing: 0.5px;
                        display: block;
                        margin-bottom: 6px;
                        .word-wrap;
                    }
                }

                .hint {
                    font-family: "dauphine_regular";
                    text-shadow: none;
                    display: inline-block;
                    color: @colorHelp;

                    a{
                      color: @colorHelp;
                      text-decoration: none !important;
                      display: inline-block;
                      border-bottom: 1px solid transparent;
                      margin-bottom: 6px;
                    }

                    a:link{font-family: "dauphine_italic";}

                    a:hover{.link-hover}
                }
            }
        }
    }

    &.wc-container {
        position: absolute;
        height: 30px;
        bottom: 0;
        left: @widthMenuLeft + 30px;
        width: 632px;
        ////.transition-move;


        &.wc-hide {
            bottom: -700px;
            //.transition-move;
        }

        .wc-input-prompt {
            font-family: "dauphine_regular";
            position: absolute;
            bottom: 12px;
            left: 8px;
            font-size: 8pt;
            z-index: 3;
            text-shadow: none;
            padding: 5px 3px 2px 3px;
            background-color: #fefefe;
        }

        .wc-input{
            position: absolute;
            height: 18px;
            bottom: 12px;
            left: 12px;
            border: 0;
            // border-bottom: 1px solid #000;
            font-size: 10pt;
            background-color: #fefefe;
            width: 100%;
            font-family: monospace;
            letter-spacing: 1px!important;
            margin: 0px;
            padding: 0px;
            border-radius: 0px;
            text-indent: 8px;
            z-index: 2;

            &:focus {
                outline: none;
            }
        }

        .wc-input-bottom-line {
            position: absolute;
            bottom: 11px;
            left: 7px;
            width: 100%;
            border: 1px solid #000;
            border-top: 0px;
            height: 3px;
            z-index: 12;
            padding: 0 2px;
        }

        .wc-input.wc-inactive {
            color:#252525;
            /*display: none;*/
        }




        .wc-pending{
            color: #2B71FF;
        }

        .wc-error{
            color: black;
            font-family: "dauphine_italic";
            font-size: 8pt;
            position: absolute;
            bottom: 0;
            left: 12px;
            z-index: 1;
        }

        //DIRTY WAY TO HIDE ERRORS AFTER 5s...

        .wc-error{ -moz-animation: cssAnimation 0s ease-in 10s forwards; /* Firefox */ -webkit-animation: cssAnimation 0s ease-in 10s forwards; /* Safari and Chrome */ -o-animation: cssAnimation 0s ease-in 10s forwards; /* Opera */ animation: cssAnimation 0s ease-in 10s forwards; -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; } @keyframes cssAnimation { to { width:0; height:0; overflow:hidden; } } @-webkit-keyframes cssAnimation { to { width:0; height:0; visibility:hidden; } } @-moz-keyframes cssAnimation { to { width:0; height:0; overflow:hidden; } } @-ms-keyframes cssAnimation { to { width:0; height:0; visibility:hidden; } } @-o-keyframes cssAnimation { to { width:0; height:0; visibility:hidden; } }


        .wc-command{
            font-style: italic;
            text-decoration: none;
            color: @red;
        }
        .wc-command:hover, .wc-command:focus{
            border-bottom: 1px solid;
        }

    }

}


.wc-loader {
    position: absolute;
    top: 20%;
    right: 20%;
    bottom: 20%;
    left: 20%;
    padding: 34px;
    z-index: 1000;

    .wc-loader-items {
        .wc-loader-item {
            display: inline-block;
            width: 1%;
            height: 4px;
        }
    }

    .wc-loader-text {
        text-align: center;
        font-size: 200%;
    }
}
