
.widget-form {
    position: absolute;
    top: 10%;
    left: 20%;
    right: 20%;
    bottom: 10%;

    .widget-wrapper {
        margin: auto;
        border: 1px solid grey;
    }

    .widget-buttons {
        margin: auto;
    }
}

.widget-closer {
  .dock-buttons;
  width: 100%;
  text-align: right;
  margin: 0px;
}

.widget-title {
  font-size: 9pt;
  text-transform: uppercase;
  letter-spacing: 0.5pt;
  display: block;
  text-align: center;
  margin: 2 * @margin 0px;
}